<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/css/site.css" rel="stylesheet" media="screen">
        <title>{% block title %}{% endblock %} - OAuth Informatik Universität Hamburg</title>
    {% endblock %}
</head>
<body>
<div class="navbar navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/Demo/">OAuth InfRZ Demo Application</a>
            <ul class="nav pull-right">
                <li><a href="/Demo/?logout"><i class="icon-user"></i> logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="content" class="container">
    <div class="page-header">
        <h1>{% block header %}{% endblock %}</h1>
    </div>
    {% block content %}{% endblock %}
</div>

<!-- load js at the end to have faster build time -->
<script src="/js/jquery-1.9.1.min.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>