<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <base href="/ssologin/">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/site.css" rel="stylesheet" media="screen">
        <title>{% block title %}{% endblock %} - Demo Application</title>
    {% endblock %}
</head>
<body style="padding-top: 0;">
    <div class="container">
        <div class="page-header" style="background-image: url('/img/tulips.jpg'); padding:0 0 10px 5px;">
            <h1>
                {% block header %}{% endblock %}
                <div class="pull-right">
                    <img style="margin:0 5px 5px 0;" width="70px" src="img/logo_fbi.png"><img style="margin:0 0 5px 0;" width="70px" src="img/logo_uhh.png">{% if login is defined %}<br><a class="btn btn-inverse pull-right" href="Demo/?logout"><i class="icon-user"></i> logout</a>{% endif %}
                </div>
            </h1>
        </div>
        {% block content %}{% endblock %}
    </div>
<!-- load js at the end to have faster build time -->
<script src="js/jquery-1.9.1.min.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>