{% extends "base.html.twig" %}

{% block title %}Demo application{% endblock %}

{% block header %}Error{% endblock %}

{% block content %}
    <div class="alert alert-error">
        <p class="lead">{{ error }}</p>
    </div>
{% endblock %}