{% extends "base.html.twig" %}

{% block title %}Demo application{% endblock %}

{% block header %}Demo Application{% endblock %}

{% block content %}
    <div class="hero">
        {% if user.first_name is not null %}
            <h2>Moin {{ user.first_name }}.</h2>
        {% elseif user.alias is not null %}
            <h2>Moin {{ user.alias }}.</h2>
        {% else %}
            <h2>Moin Anonymous.</h2>
        {% endif %}
        <p class="lead">You have successfully proven that you are a Member of the IT-Department.</p>
        <p>This are the informations you have granted us with:</p>
        <dl class="dl-horizontal">
            {% for key, value in user %}
                <dt>{{ key | replace('_', ' ') }}</dt>
                <dd>{{ value | join(', ' )}}</dd>
            {% endfor %}
        </dl>
    </div>
{% endblock %}