<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
            <title>{% block title %}{% endblock %} - OAuth Informatik Universität Hamburg</title>
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <a class="brand" href="/">OAuth InfRZ</a>
                <ul class="nav">
                    <li><a href="/client"><i class="icon-leaf icon-white"></i> Manage clients</a></li>
                </ul>

                <ul class="nav pull-right">
                    {% if username is defined %}
                        <li>{{ username }}</li>
                    {% endif %}
                    {% if is_authorized %}
                        <li><a href="#"><i class="icon-user icon-white"></i> logout</a></li>
                    {% else %}
                        <li><a href="/login"><i class="icon-user icon-white"></i> login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>

        <!-- load js at the end to have faster build time -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>