<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
            <link href="/bootstrap/css/darkstrap.css" rel="stylesheet" media="screen">
            <link href="/css/site.css" rel="stylesheet" media="screen">
            <title>{% block title %}{% endblock %} - OAuth Informatik Universität Hamburg</title>
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">OAuth InfRZ</a>
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li><a href="https://github.com/Senci/oauth-infrz#oauth-infrz" target="_blank"><i class="icon-book icon-white"></i> Documentation</a></li>
                        {% if is_client_moderator %}
                        <li><a href="/client"><i class="icon-leaf icon-white"></i> Manage clients</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav pull-right">
                        {% if user is defined %}
                            <li><a href="/logout"><i class="icon-user icon-white"></i> logout</a></li>
                        {% else %}
                            <li><a href="/login"><i class="icon-user icon-white"></i> login</a></li>
                        {% endif %}
                    </ul>
                    {% if user is defined %}
                        <p class="nav pull-right navbar-text">Moin {{ user.name }} =) </p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="content" class="container">
            <div class="page-header">
                <div class="pull-right">
                    <img src="/img/logo_fbi_55.png">
                    <img src="/img/logo_uhh_55.png">
                </div>
                <h1>{% block header %}{% endblock %}</h1>
            </div>
            {% block content %}{% endblock %}
        </div>

        <!-- load js at the end to have faster build time -->
        <script src="/js/jquery-1.9.1.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>