{% extends "base.html.twig" %}

{% block title %}{{ error.error }}{% endblock %}

{% block header %}Error {{ error.http_status }}{% endblock %}

{% block content %}
    {% set status = (error.error|replace({'_': ' '})|capitalize) %}
    <div class="alert alert-error">
        <h2>{{ error.error|replace({'_': ' '})|capitalize }}!</h2>
        <p class="lead">{{ error.error_description }}</p>
    </div>
{% endblock %}