{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="well well-large">
        <h1>Hey there!</h1>
        <p>This is an Signle-Sign-On-System for the ActiveDirectory (LDAP) of the Informatik Rechenzentrum (Universität Hamburg).</p>
        <p>You can simply login with your Informatik Rechenzentrum credentials to achieve authorization to our clients services.</p>
    </div>
{% endblock %}