{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block header %}OAuth InfRZ{% endblock %}

{% block content %}
    <img class="pull-right" width="130px" src="/img/oauth_logo.png" />
    <p class="lead">
        <b>OAuth InfRZ</b> is a <i>Single-Sign-On (SSO)</i> service using your <i>Informatik Rechenzentrum (InfRZ)</i>
        credentials to achieve authorization to registered client services.
    </p>
    <p>
        OAuth InfRZ is free software licensed under <i>GNU General Public License Version 3</i>. Its sources and
        documentation can be obtained at <a href="https://github.com/Senci/oauth-infrz">GitHub</a>.
        Feel free to fork it and <a href="https://github.com/Senci/oauth-infrz/issues">report issues</a>. <br><br>
        Try out the <a href="/Demo">demo application</a> which demonstrates the authorization procedure.
    </p>
{% endblock %}