{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block header %}OAuth-Infrz{% endblock %}

{% block content %}
    <img class="pull-right" width="130px" src="/img/oauth_logo.png" />
    <p class="lead">
        OAuth-Infrz is a Single-Sign-On (<i>SSO</i>) service using your "Informatik Rechenzentrum" (<i>infrz</i>)
        credentials to achieve authorization to registered client services.
    </p>
    <p>
        OAuth-Infrz is a free software licensed under <i>GNU General Public License Version 3</i>. Its sources and
        documentation can be obtained at <a href="https://github.com/Senci/oauth-infrz">GitHub</a>.
        Feel free to fork it and <a href="https://github.com/Senci/oauth-infrz/issues">report issues</a>. <br />
        Try the <a href="/Demo">demo application</a> which demonstrate the authorization procedure.
    </p>
{% endblock %}