{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block header %}OAuth-Infrz{% endblock %}

{% block content %}
    <p class="lead">
        OAuth-Infrz is a Single-Sign-On service using your "Informatik-Rechenzentrum" credentials to achieve
        authorization to registered client services.
    </p>
    <p>
        * using OAuth2 <br/>
        * opensource http://www.github.com <br/>
    </p>
{% endblock %}