{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="well well-large">
        <h1>Login!</h1>
        <p>Please login to continue.</p>
        {% if error is not null %}
            <div class="alert alert-error">
                {{ error.error|replace({'_': ' '})|capitalize }}: {{ error.error_description }}
            </div>
        {% endif %}
        <form action="/login/authorize" method="POST" class="form-horizontal">
            <p><input type="text" name="name" placeholder="Username"/> </p>
            <p><input type="password" name="password" placeholder="Password"/> <br/> </p>
            <input type="hidden" name="redirect" value="{{ redirect }}"/>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </div>
{% endblock %}