{% extends "base.html.twig" %}

{% block title %}Login successful{% endblock %}

{% block header %}Welcome {{ user.first_name }} {{ user.last_name }}!{% endblock %}

{% block content %}
    <p class="lead">You have successfully been logged in.</p>
    <p>You will be redirected to your <a href="{{ redirect }}">origin</a> in 5 seconds.</p>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        setTimeout('window.location.href = "{{ redirect | raw }}"', 5000);
    </script>
{% endblock %}